<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-4 mb-5">
        <h3>About Us</h3>
        <p class="mb-5">
          國立陽明大學<br>
          食品安全及健康風險評估研究所
        </p>
        <!--<ul class="list-unstyled footer-link d-flex footer-social">-->
          <!--<li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>-->
          <!--<li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>-->
          <!--<li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>-->
          <!--<li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>-->
        <!--</ul>-->
      </div>
      <div class="col-md-5 mb-5 pl-md-5">
        <h3>聯絡資訊</h3>
        <ul class="list-unstyled footer-link">
          <li class="d-block"><span class="d-block">Address:</span> <span>112
								台北市北投區立農街二段 155 號</span></li>
          <li class="d-block"><span class="d-block">TEL:</span><span>02-2823-6991</span></li>
          <li class="d-block"><span class="d-block">Email:</span><span>fshra@ym.edu.tw</span></li>
        </ul>
      </div>
      <div class="col-md-3 mb-5">
        <h3>Quick Links</h3>
        <ul class="list-unstyled footer-link">
          <li><a routerLink="/home">首頁</a></li>
          <li><a routerLink="/suggest">食品容許攝食量查詢</a></li>
          <li><a routerLink="/riskRanking">風險分級排序查詢</a></li>
        </ul>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-12 text-md-center text-left">
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy; 國立陽明大學食品安全及健康風險評估研究所 All rights reserved
          <!--| This template is made-->
          <!--with <i class="fa fa-heart" aria-hidden="true"></i> by <a-->
          <!--href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>-->
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- END footer -->
