<div class="container">
  <br>
  <h2 class="text-dark text-center">此系統可得知以下資訊</h2><br>
  <h4 class="text-dark text-center">1. 食品容許攝食量</h4><br>
  <h5 class="text-muted text-center">包括：每天建議不要吃超過多少（為什麼？每天吃的話風險多高？有哪些物質會殘留在食品裡？）</h5><br>
  <h4 class="text-dark text-center">2. 風險分級排序</h4><br>
  <h5 class="text-muted text-center">包括：市售食品超標情形、哪些物質最需要注意（物質風險排序）</h5><br>
  <h5 class="text-center"><a routerLink="/suggest">食品容許攝食量由此查詢</a></h5>
  <h5 class="text-center"><a routerLink="/riskRanking">風險分級排序由此查詢</a></h5>
</div>
